{% extends 'base.html' %}

{% block title %}Forgot Password{% endblock %}

{% block content %}
<!-- <div class="card"> -->
<div class="row justify-content-center ">
    <div class="col-md-4">
        <div class="card shadow p-4">
<h2>Forgot Password</h2>

<p>Enter your registered username to reset your password.</p>

<form method="post">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Enter your username" style="width: 300px;border-radius: 10px;"><br><br>

    <button type="submit" style="width: 200px;border-radius: 10px;margin-left: 50px;">Reset Password</button>
</form>

<br>
<a href="{% url 'login' %}">Back to Login</a>
</div>
    </div>
    </div>
{% endblock %}
